.social-container{
    min-height: 90vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    position: relative;
    h1{
        position: absolute;
        top: 0%;
        left: 85%;
        color: white;
    }
    svg{
        fill: white;
        cursor: pointer;
        padding-left: 2rem;
    }
}