.social-container{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
    position: absolute;
    top: 10%;
    left: 125%;
    h1{
        display: flex;
        flex-direction: column;
   justify-content: center;
   align-items: center;
        width: 30vw;
        position: absolute;
        font-size: x-large;
        color: white;
    }
    h1:nth-child(2){
        color: white;
        margin-top: 12rem;
    }
    svg{
        fill: white;
        cursor: pointer;
        padding-left: 1rem;
    }
}